@media screen and (max-width: 1760px) {
  html {
    font-size: 80%;
  }
  .mySwiper .swiper-pagination-progressbar-fill {
    margin-top: 360px !important;
  }
  .AtBaseImage1,
  .AtBaseImage2,
  .AtBaseImage3,
  .AtBaseImage4 {
    height: 650px !important;
  }
}
@media screen and (max-width: 1560px) {
  .mySwiper .swiper-button-prev {
    left: 76% !important;
    top: 25%;
  }
  .morecompaign .swiper-button-prev{
    left: auto !important;
  }
}

@media screen and (max-width: 940px) {
  .mySwiper .swiper-button-prev {
    left: 73% !important;
    top: 25%;
  }
}
@media screen and (max-width: 600px) {
  .mySwiper .swiper-button-prev {
    left: 68% !important;
    top: 25%;
  }
}

@media screen and (max-width: 1024px) {
  .Atslidebotom .swiper-pagination {
    top: -50% !important;
    justify-content: end !important;
    margin-left: 55%;
  }
}
@media screen and (min-width: 300px) and (max-width: 500px) {
  .mySwiper .swiper-button-prev {
    left: 65% !important;
    top: 25%;
  }
  .Atslidebotom .swiper-pagination {
    top: -35% !important;
   
  }
  .AtBaseImage1,
  .AtBaseImage2,
  .AtBaseImage3,
  .AtBaseImage4 {
    height: 700px !important;
  }
}
